body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #fecfef, #ffedd5, #fecfef); /* Light Yellow Background */
    font-family: Arial, sans-serif;
}
.container {
    text-align: center;
    background-color: #FFFBDA;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.success-icon {
    width: 120px;
    height: 120px;
    background: #FFA500;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 20px;
}
.success-icon::before {
    content: '';
    width: 80px;
    height: 80px;
    background: #FFCC66;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Inner Circle */
.success-icon::after {
    content: '✔';
    width: 40px;
    height: 40px;
    background: #FFFBDA;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00A400;
    font-size: 24px;
    font-weight: bold;
}
.message {
    font-size: 20px;
    color: #008000;
    font-weight: bold;
    margin-bottom: 30px;
}
.btn {
    display: inline-block;
    background-color: #f9d56a; 
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #f8bb38;
}